
*
{
    box-sizing:content-box;
	font-family: Roboto, Arial, sans-serif;
    font-size:medium;
}

/*
*
{
    background-color: rgba(255, 0, 0, 0.02);
}
*/

body
{
    max-width: 1400px;
	box-sizing: content-box;
	width: 100%;
    margin: auto;
    color: black;
}
h1
{
    color: black;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 10px;
}
h2
{
    color: black;
    font-weight: normal;
    font-size: 16px;
}
h3 
{
    font-weight: bolder;
    font-size: 24px;
    color: black;
    padding-bottom: 10px;
    padding-left: 5px;

}
h4
{
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    color: black;
}

h5
{
    font-weight: normal;
    padding-top: 5px;
    margin: 0px;
    color: black;
    
}

#titrePrincipal
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}
#titrePrincipal h1
{
    width: 100%;
}
#titrePrincipal h2
{
    width: 100%;
}

.buttonIn input
{
    border-style: none;
    align-content:flex-start;
    text-align: center;
    width: auto;
   
}
.buttonIn 
{
    width: 400px;
    position: relative;
    margin: 10px;
    object-fit: fill;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}    
input 
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 50px;   
    font-size: 1.2em;  
    font-weight: bold;
    position: relative;
    padding-left: 5px; 
    background-color:  #f0f0f0f1;
}


/* en-tête*/
#entete
{	
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    vertical-align: top;
    font-family: Shrikhand, Arial, sans-serif;
}

/* logo */
#logo
{
    display: flex;
    flex-direction: row;
    vertical-align: top;
    justify-items:center;
    flex-wrap: wrap;
    justify-content:center;
    margin:20px;
    font-family: Shrikhand, Arial, sans-serif;
    width: 100%;
    font-size: 48px;
}

#logo img
{
    width: 40%;
    height: 60px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
    vertical-align: middle;
}
#entete a 
{
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
    height: 20px;
    vertical-align: middle;
    align-self: center;
    justify-content: left;
    justify-items: left;
    margin: 0;
    
}


#rechercher
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    align-content:center;
    margin: 0;
    padding: 0;
    background-color:silver;
}
#rechercher input
{
    background-color:transparent;
    margin: 0;
    padding: 0;
}
.imageRecherche
{
    vertical-align: -webkit-baseline-middle;
    font-size: 1em;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: auto;
    padding: 0;
    margin: 0;
}
.imageRecherche .fa-location-dot
{
    margin: 0;
    padding: 0;
}
/* titre principal*/
#titrePrincipal
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
    background-color: #f0f0f0f1;
    padding: 0;
    margin: 0;
}
#titrePrincipal h1
{
    margin-top: 20px;
}

#titrePrincipal ul li a
{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(0deg,rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
}
#titrePrincipal ul li a:hover
{
    background: #FF79DA ;
}

.explorer
{
    /*border-radius: 0px 30px 30px 0px;*/
    display: flex;
    align-items: center;
    font-size: medium;
    border-radius: 60px 60px 60px 60px;
    height: 30px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
  
}

#fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    vertical-align: top;
    flex-wrap: wrap;
    font-weight: bold;
    padding-bottom: 20px;
    margin:10px;
    background-color: white;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#fonctionnement ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
  
}
#fonctionnement li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid 2px #f0f0f0;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(0deg,#F2F2F2 30%, white 70%);
    height: 70px;
    width: 100%;
    margin: 10px;
}
#fonctionnement li:hover
{ 
    background: linear-gradient(0deg, #e3d3f7 10%, white 90%);
    color: #9356DC;
}

.pastilleViolette
{
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    padding-left: 1px;
    display: flex;
    background-color: #9356DC;
    border-radius: 100px 100px 100px 100px;
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: -6px;
}
.btnFonction
{
    /*border-radius: 0px 30px 30px 0px;*/
    display: flex;
    align-items: center;
    font-size: medium;
    border: none 2px #f0f0f0;
    height: 100%;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    padding-right: 10px;
}
.btnFonction i
{
    vertical-align: middle;
    text-align: center;
    font-size: large;
    object-fit: fill;
    margin-right: 10px;
    font-size:x-large;
    align-self: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnFonction h4
{
    color: black;
}

/*Restaurants */
#restaurants
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    vertical-align: top;
    flex-wrap: wrap;
    font-weight: bold;
    padding-bottom: 20px;
    margin:10px;
    background-color: #f0f0f0f1;
}
#restaurants h3
{
    margin:10px;
}
#restaurants ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
  
}
#restaurants li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid 2px #f0f0f0;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(0deg,#F2F2F2 30%, white 70%);
    height: 70px;
    width: 100%;
    margin: 10px;
}
.restaurantLigne 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    margin: auto;
    margin-left: 3px;
    width: 100%; 
    align-content: center;
    align-items: center;
    
}

.restaurantLigne a
{
    width: 50%;
    margin: auto;  
    margin-bottom: 10px;
}

.figureRestaurant
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    color:#0065FC;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    margin: 20px 10px;
}
.figureRestaurant figcaption
{
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}

figCaption  h4
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin:0;
    padding-right: 20px;
}

.heart
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    width: 100%;
    color: black;
    border-style: none;
}

.heart .fa-regular
{
    font-size: 1.5em;
    vertical-align: top ;
    margin-left: 80%;
    position:absolute; 
    z-index: 1;
    transition: color 0ms;
    opacity: 1;
    transition: 0.5s;
    margin-left: 30%;
}
.heart .fa-solid
{
    font-size: 1.5em;
    vertical-align: top ;
    margin-left: 80%;
    position:absolute; 
    z-index: 2;
    transition: color 0ms;
    opacity: 0;
    transition: 0.5s;
    margin-left: 30%;
}

.heart:hover, .heart .fa-regular
{
    opacity: 1;
    transition: 0.5s;
}
.fa-heart:hover, .fa-heart .fa-solid:hover
{
    display: block;
    background: -webkit-linear-gradient(rgba(147,86,220,1), rgba(255,121,218,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: 0.5s;
}
.fa-heart:hover, .fa-heart .fa-regular:hover
{
    display: block;
    background: -webkit-linear-gradient(rgba(147,86,220,1), rgba(255,121,218,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: 0.5s;
}

.imageRestaurant
{
  width: 100%;
  height: 150px; 
  font-size: small;
  border-radius: 20px 20px 0 0;
  background-color: white;
  object-fit: fill;
}
figcaption > * 
{
    margin-bottom: 5px;
}
.imageRestaurant a
{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    align-items:baseline;
    width: 30px;
    height: 10px;
    flex-wrap: wrap;
    max-width: 400px;
}

a
{
    text-decoration: none;
    font-size:medium;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

nav li
{
    margin: 10px;
}

nav a
{
    font-size: 1.2em;
    color: #181818;
    text-decoration: none;
}

/* Pied de page*/

.piedDePage
{
    display: flex;
    justify-content: space-between;  
    background-color: #F2F2F2;
    height: auto;
    flex-wrap: wrap;
    text-decoration: none;
}
.piedDePage ul
{
    list-style-type: none;
    text-align: left;
    margin-left: 10px;
    color: black;
}

.piedDePage ul > li
{
    margin: 10px;
    margin-left: 0px;
}

.piedDePage div
{
    margin-top: 10px;
}

.groupePied
{
    text-decoration-style: solid;
    text-decoration: none;
    text-align: left;
    font-size: 130%;
    color: white;
    width: 100%;
    font-family: Shrikhand, Arial, sans-serif;
    margin-bottom: 20px;
}
.piedDePage
{
    background-color: black;

}
.piedDePage div
{
    margin-left: 5px;

}
.piedDePage ul li > a, .groupePied, .iconePied
{
    color: white;
}
.iconePied
{
    display: flex;
    flex-direction: row;
}
.fa-handshake-angle
{
    margin-right: 5px;
}
.fa-utensils
{
    margin-right: 10px;
}

/* Menus restaurant */

#menuRestaurant
{
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    margin-top: 0;
    width: 90%;
    padding: 0;
    background-color: #f0f0f0f1;
    width: 100%;
    margin: auto;
}

.figureMenu
{
    width: 100%;
    margin-top: -40px;
}
.figureMenu .heart
{
    margin-top: 10px;
}
main, main .titreRestaurant
{
    width: 100%;
}
.imageRestau
{
    margin:0;
    padding: 0;
    width: 100%;
    max-height: 400px;
}
.titreRestaurant
{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-content: space-around ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
    margin-top : -20px;
    border-radius: 30px 30px 0px 0px;
    opacity: 1;
}
.titreRestaurant h3
{
    width: 100%;
    align-self: center;
    font-family: Shrikhand, Arial, sans-serif;
    font-size: large;
    margin-left: 5px;
    margin-top: 50px;
    padding-top: 20px;
}
.titreRestaurant .heart
{
   margin-top: 40px;
   margin-left: 0;
   padding-left: 0;
}

#menuRestaurant .figureMenu figcaption
{
    background-color: #f2f2f298;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    align-self: center;
    align-content: center;
    object-fit: cover;

}

.figureMenu figcaption
{
    height: 100px;
    margin-top: 10px;
    width: 100%;
}
.figureMenu figcaption div
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#menuRestaurant img 
{
    width: 100%; 
}

.ligneMenu
{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.ligneMenu div h5, .ligneMenu div h4
{
    display: flex;
    width: 100%;
    margin-left: 5px;
    
}

.ligneMenu > .prixMenu
{
    display: flex;
    width: 50px;
    margin-left: auto;
    flex-wrap: nowrap;
    overflow: hidden;
}

.ligneMenu div h5 strong
{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.fa-euro-sign
{
    margin-left: 10px;
    font-size: 0.8em;
}

.ligneMenu .check
{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 0px 20px 20px 0px;
    background-color: aquamarine;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;
    margin-right: 0;
    padding-right: 0;
    position: relative;
}
.ligneMenu div
{
    width: 100%;
    align-content: flex-end;
    height: 60px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.ligneMenu:hover, .check
{
    opacity: 0;
    transition: 0.8s;
}
.ligneMenu:hover
{
    opacity: 1;
    transition: 0.8s;
}
.ligneMenu:hover, .check:hover
{
    opacity: 1;
    transition: 0.8s;
}

.fa-circle-check
{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}
.titreDessert, .titrePlats, .titreEntree
{
    text-transform: uppercase;
    border-bottom: solid;
    border-color: aquamarine;
    border-bottom-width: 2px;
    width: 30px;
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 10px;
}
#entete a .fa-arrow-left
{
    margin-left: 10px;
}

.ligneMenu div h5, .ligneMenu div h4
{
    align-content: center;
}

.ligneMenu > h5
{
    width: 100%;
}

.ligneMenu div
{
   
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 100%;
}
.prixMenu
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items:flex-end;
    justify-items: center;
    margin-left: auto;
    margin-right: 0;
}

#commander
{
    /*border-radius: 0px 30px 30px 0px;*/
    display: flex;
    align-items: center;
    font-size: medium;
    height: 60px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

#commander ul li a
{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(0deg,rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    height: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
    border-radius: 60px 60px 60px 60px;
}
#commander ul li a:hover
{
    background: #FF79DA ;
}



/*Média Queries */

/*tablettes*/
@media all and (max-width: 992px)
{
    body
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #titrePrincipal
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        padding: 0;
        margin: 0;
    }
    #titrePrincipal h1
    {
        width: 100%;
    }
    #titrePrincipal h2
    {
        width: 100%;
    }
    
    .piedDePage
    {
       width: 100%;
    }
    
    .piedDePage > li
    {
        width: 100%;
    }
    .ActiviteLigne
    {
        width: 60%; 
        height: 80%;
        margin: auto;
    }
   
    .titreHebergement
    {
        /*padding-left: 50px;*/
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .afficherPlus
    {
        /*padding-left: 40px;*/
        padding-bottom: 25px;
    }
    #Activites h3
    {
        /*padding-left: 150px;*/
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .restaurantLigne > a , .restaurantLigne, .figureRestaurant,.imageRestaurant, .imageRestau
    {
        width: 100%;
    }

    .restaurantLigne
    {
        width: 100%; 
        align-content: center;
        align-items: center;
    }
    .restaurantLigne a
    {
        width: 40%;
        margin: auto;  
        margin-bottom: 10px;
    }
}
/* Mobile */
@media all and (max-width:767px)
{
    body
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #titrePrincipal h1
    {
        width: 40%;
    }
    #titrePrincipal h2
    {
        width: 70%;
    }
    
    .piedDePage
    {
       width: 100%;
    }
    #titrePrincipal h1
    {
        align-content:center;
        width: 90%;
    }
    #titrePrincipal
    {
        justify-content: center;
        align-content:center;
        
    }
    .titrePopulaire
    {
        width: 100%;   
    }
    .piedDePage > li
    {
        width: 100%;
    }
    .restaurantLigne
    {
        width: 100%; 
        align-content: center;
    }
    .restaurantLigne a
    {
        width: 95%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    #restaurants
    {
        width: 100%; 
        margin: 0;
    }
    .ligneMenu div h5, .ligneMenu div h4
    {
        width: 100%;
    }

    .ligneMenu
    {
        width: 95%;
    }  
    .heart
    {
        margin-left: 30%;
    }
}

